
html, body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}
body{
    background-image: url('globe.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 { 
    height: 12em;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 3em 1em 3em;
}

#top-right {
    font-size: 1em;
    list-style: none;
    padding: 1em;
    margin: 1em;
    background-color: lightgray; /* Background color for the entire menu */
    text-align: right;
    margin-left: 50%;
    margin-top: 20%;
    overflow: auto;
}

nav a {
    text-decoration: none;
    color: black; /* Text color for menu items */
    padding: 20px 20px; /* Adjust the padding to change the size of menu items */
    width: 33.3%;
}

nav a:hover {
    background-color: #555; /* Background color on hover */
    color: #fff; /* Text color on hover */
}

.drop {
    height: 8em;
    background-color: #f0f8ff;
    margin: 1em 6em 1em 6em; 

    text-align: center; /* Center the content horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
}


select {
    background-color: antiquewhite;
    width: 30em; /* Set a width for the dropdown to control the width of the list */
    display: block;

}

option {
    background-color: aquamarine;
    display: block; /* Display options as block elements (stacked vertically) */
    padding: 50px; /* Add padding for better spacing */
    text-align: center;
    justify-content: center;
    
}

.textarea{
    background-color: thistle;
}
